*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{

width:100%;
height:100%;

background:#000;

overflow:hidden;

font-family:"Inter",sans-serif;

color:white;

}

body{

display:flex;

justify-content:center;

align-items:center;

}

#experience{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

}

#intro{

width:min(850px,92%);

}

#terminal{

font-size:clamp(20px,2vw,32px);

line-height:2;

font-weight:300;

letter-spacing:2px;

}

.line{

opacity:0;

}

#continue{

margin-top:80px;

opacity:0;

font-size:14px;

letter-spacing:6px;

text-transform:uppercase;

color:#777;

}

#noise{

position:fixed;

inset:0;

opacity:.05;

pointer-events:none;

mix-blend-mode:screen;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

}

#vignette{

position:fixed;

inset:0;

pointer-events:none;

background:

radial-gradient(circle,
transparent 45%,
rgba(0,0,0,.85));

}
